@import '../../common_projects_utilities/css/reset';

/* VARIABLES */
/* Fonts */
$roboto: 'Roboto', sans-serif;
$dark-color: #000;
$light-color: #fff;


/* GENERAL */
body {
    font-family: $roboto;
    color: $dark-color;
    
    height: 985px;

    display: flex;
    align-items: center;
}

.section {
    width: 100%;
    max-width: 640px;
    margin: 0 auto;
    box-sizing: border-box;
    height: auto;
    
}

.title {
    font-size: 18px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #000000;

    padding-bottom: 8px;
    margin-bottom: 16px;

    position: relative;
    &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 66px;
        height: 1px;
        background: $dark-color;
    }
}

.subtitle {
    font-size: 15px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #808080;

    margin-bottom: 24px;
}

.legend {
    width: auto;
    height: 100%;

    margin-bottom: 24px;
    
    display: flex;
    flex-direction: column;

    .b-legend__gradient {
        display: flex;
        flex-direction: row;
    }

    .legend__gradient {
        width: 80px;
        height: 6px;
        margin-bottom: 5px;
        margin-right: 4px;

        &--first {
            background-color: #f1f0ea;
        }
        &--second {
            background-color: #d8e2e4;
        }
        &--third {
            background-color: #a8c5d7;
        }
        &--fourth {
            background-color: #708c9e;
        }
        &--fifth {
            background-color: #395365;
        }
        &--sixth {
            background-color: #021a2b;
        }
    }

    .legend__value {                
        font-family: 'Roboto';
        font-size: 13px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 0.6px;
        text-align: left;
        color: #101010;

        &:first-child {
            margin-left: 76px;
        }

        &:not(:first-child) {
            margin-left: 56px;
        }

        &:last-child {
            margin-left: 48px;
        }
    }        
}    

.maps {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;

    .b-map {
        width: 50%;
        margin-bottom: 48px;

        &:last-child {
            margin-bottom: 24px;
        }

        .map__title {
            font-size: 15px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.27;
            letter-spacing: normal;
            text-align: left;
            color: #000000;
        }

        .map {
            width: 100%;
            height: 315px;

            margin-top: 24px;
        }
    }
}

.source {
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #565656;

    span:not(:first-child) {
        font-weight: bold;
    }
}

.hidden-mobile {display: inline;}
.visible-mobile {display: none;}
.only-small-mobile {display: none;}

@media screen and (max-width: 620px) {
    .legend {    
        .legend__gradient {
            width: 55px;
        }
        
        .legend__value {    
            &:first-child {
                margin-left: 50px;
            }
    
            &:not(:first-child) {
                margin-left: 30px;
            }
    
            &:last-child {
                margin-left: 24px;
            }
        }
    }

    .maps {
        .b-map {
            width: 100%;
            margin-bottom: 24px;

            &:last-child {
                margin-bottom: 24px;
            }
    
            .map {
                width: 100%;
                height: 240px;

                margin-top: -12px;
            }
        }
    }
}

@media screen and (max-width: 525px) {
    .hidden-mobile {display: none;}
    .visible-mobile {display: inline;}
}

@media screen and (max-width: 400px) {
    .legend {    
        .legend__gradient {
            width: 45px;
        }
        
        .legend__value {    
            &:first-child {
                margin-left: 40px;
            }
    
            &:not(:first-child) {
                margin-left: 20px;
            }
    
            &:last-child {
                margin-left: 14px;
            }
        }
    }

    .visible-mobile { display: none;}
    .only-small-mobile { display: inline ;}
}